.dark{
  background-color: rgb(255, 255, 255);
  color: white;
}

.list-group{
  display: none;
}

.show-modal {
  display: block;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(148, 148, 148, 0.918);
  z-index: 6;
  padding: 30px;
  
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
  color: black;
  
}

.main-bg{
  padding: 100px 20px;
  background-color: lightgray;
  
}